<app-header-out [active]="'home'"></app-header-out>

<!-- Header Menu Nav -->
<div class="head-menu-logo">
  <div class="logo"><a href="#"><img src="../assets/images/logo.png" alt=""/></a></div>
  
  
  <div class="head-menu-btn">
    <a href="#" class="login">Login</a>
    <a href="#" class="free-trail">Free Trail</a>
  </div>
  <div class="main-menu">
    <div class="mobile-menu"><a href="#" class="open-menu"><i class="fa fa-bars fa-2x"></i></a></div>
    <ul class="navbar">
      <li class="dropdown">
        <a href="#" class="dropbtn">Products <i class="fa fa-chevron-down"></i></a>
          <ul>
          <li><a href="#">Products 1</a></li>
          <li><a href="#">Products 2</a></li>
        </ul>
      </li>             
      <li class="dropdown">
        <a href="#" class="dropbtn">Solutons <i class="fa fa-chevron-down"></i></a>
          <ul>
          <li><a href="#">Solutons 1</a></li>
          <li><a href="#">Solutons 2</a></li>
        </ul>
      </li>                  
      <li><a href="#">Developers</a></li>            <li><a href="#">Pricing</a></li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>  
<!-- Header Menu Nav -->  
  
<!-- Header -->
<div class="header-main">
  <div class="macbook"><img src="../assets/images/macbook.jpg" alt=""/></div>
  <div class="container">
    <div class="header-content">
      <h1>Effortless eSignatures Trusted by Millions</h1>
      <p>WeSign keeps your business moving forward.</p>
      <a href="#" class="btn">Try WeSign Free</a>
    </div>
    <div class="clearfix"></div>
  </div>
  
  <div class="clearfix"></div>
</div>  
<!-- Header --> 
  
<!-- Welcome -->
<div class="welcome-main">
  <div class="container">
    <div class="welcome-left">
      <img src="../assets/images/man.jpg" alt=""/>
    </div>
    <div class="welcome-right">
      <h6>WeSign eSignature</h6>
      <h2>Join 500,000 customers and hundreds of millions of signers</h2>
      <a href="#" class="btn">Try it Free</a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>  
<!-- Welcome -->  
  
<!-- Solution -->
<div class="solution-main">
  <div class="container">
    <div class="solution-titles">
      <h2>Solutions</h2>
      <p>A suite of applications and integrations for automating and connecting the entire agreement process</p>
      <div class="clearfix"></div>
    </div>
    
    <div class="solution-mid">
      <div class="solution-left">
        <div class="solution-left-boxes">
          <div class="solution-left-icon"><img src="../assets/images/solution-icon1.jpg" alt=""/></div>
          <h4>Electronic Signature</h4>
          <p>Send, sign, and succeed with eSignature</p>
        </div>
        <div class="solution-left-boxes">
          <div class="solution-left-icon"><img src="../assets/images/solution-icon2.jpg" alt=""/></div>
          <h4>Contract Lifecycle Management</h4>
          <p>Automate agreement workflows and management</p>
        </div>
        <div class="solution-left-boxes">
          <div class="solution-left-icon"><img src="../assets/images/solution-icon3.jpg" alt=""/></div>
          <h4>Doc Generation &amp; Negotiation</h4>
          <p>Streamline agreement generation, review, and approval</p>
        </div>
        <div class="solution-left-boxes">
          <div class="solution-left-icon"><img src="../assets/images/solution-icon4.jpg" alt=""/></div>
          <h4>Agreement Analytics</h4>
          <p>Use AI to search and analyze by legal concepts</p>
        </div>
        
        
        
        <div class="clearfix"></div>
      </div>
      <div class="solution-right">
        <div class="solution-right-box">
          <div class="solution-logo"><img src="../assets/images/logo.png" alt=""/></div>
          <div class="solution-icon-boxes solution-icon-create">
            <div class="solution-icon-icon"><img src="../assets/images/solution-create.png" alt=""/></div>
            <h5>Create</h5>
          </div>
          <div class="solution-icon-boxes solution-icon-sign">
            <div class="solution-icon-icon"><img src="../assets/images/solution-title.png" alt=""/></div>
            <h5>Sign</h5>
          </div>
          <div class="solution-icon-boxes solution-icon-analyze">
            <div class="solution-icon-icon"><img src="../assets/images/solution-analyze.png" alt=""/></div>
            <h5>Analyze</h5>
          </div>
          <div class="solution-icon-boxes solution-icon-send">
            <div class="solution-icon-icon"><img src="../assets/images/solution-send.png" alt=""/></div>
            <h5>Send</h5>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    
  </div>
</div>  
<!-- Solution --> 
  
<!-- Works -->
<div class="works-main">
  <div class="container">
    <div class="works-left">
      <h6>How it works</h6> 
      <h2>It’s time to <br/>agree better</h2>
      <p>Your organization runs on contracts and other types of agreements. It’s time to transform how you prepare, sign, act on, and manage them.</p>
      <a href="#" class="btn">Get in touch</a>
    </div>
    
    <div class="works-right">
      <img src="../assets/images/video-img.jpg" alt=""/>
      <div class="works-video-icon"><a href="#"><img src="../assets/images/video-icon.png" alt=""/></a></div>
    </div>
    
    <div class="clearfix"></div>
  </div>
</div>  
<!-- Works -->  
  
<!-- Testimonial -->
<div class="testimonial-main">
  <div class="container">
    <h6>Testimonials</h6> 
    <h2>What our clients say</h2>
    <div class="testimonial-content">
      <div class="owl-carousel testimonial-carousel">
        <div class="testimonial-item">
          <div class="testimonial-box">
            <div class="testimonial-quote"><img src="../assets/images/testimonial-quote.png" alt=""/></div>
            <div  class="testimonial-descp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nisl nibh, pulvinar sed ante vehicula, placerat placerat metus. Suspendisse egestas lectus ut ornare feugiat.</div>
            <div class="testimonial-rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
            <div class="testimonial-name">Patty E </div>
            <div class="testimonial-designation">Strategic Partner</div>
          </div>
        </div>
        <div class="testimonial-item">
          <div class="testimonial-box">
            <div class="testimonial-quote"><img src="../assets/images/testimonial-quote.png" alt=""/></div>
            <div  class="testimonial-descp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nisl nibh, pulvinar sed ante vehicula, placerat placerat metus. Suspendisse egestas lectus ut ornare feugiat.</div>
            <div class="testimonial-rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
            <div class="testimonial-name">Patty E </div>
            <div class="testimonial-designation">Strategic Partner</div>
          </div>
        </div>
        <div class="testimonial-item">
          <div class="testimonial-box">
            <div class="testimonial-quote"><img src="../assets/images/testimonial-quote.png" alt=""/></div>
            <div  class="testimonial-descp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nisl nibh, pulvinar sed ante vehicula, placerat placerat metus. Suspendisse egestas lectus ut ornare feugiat.</div>
            <div class="testimonial-rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
            <div class="testimonial-name">Patty E </div>
            <div class="testimonial-designation">Strategic Partner</div>
          </div>
        </div>
        <div class="testimonial-item">
          <div class="testimonial-box">
            <div class="testimonial-quote"><img src="../assets/images/testimonial-quote.png" alt=""/></div>
            <div  class="testimonial-descp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nisl nibh, pulvinar sed ante vehicula, placerat placerat metus. Suspendisse egestas lectus ut ornare feugiat.</div>
            <div class="testimonial-rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
            <div class="testimonial-name">Patty E </div>
            <div class="testimonial-designation">Strategic Partner</div>
          </div>
        </div>
        <div class="testimonial-item">
          <div class="testimonial-box">
            <div class="testimonial-quote"><img src="../assets/images/testimonial-quote.png" alt=""/></div>
            <div  class="testimonial-descp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nisl nibh, pulvinar sed ante vehicula, placerat placerat metus. Suspendisse egestas lectus ut ornare feugiat.</div>
            <div class="testimonial-rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
            <div class="testimonial-name">Patty E </div>
            <div class="testimonial-designation">Strategic Partner</div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>  
<!-- Testimonial -->  
  
<!-- FAQ -->  
<div class="faq-main">
  <h6>Have questions?</h6>  
  <h2>Frequently asked questions</h2>
  
  <div class="faq-content">
  <button class="accordion"><span class="faq-title">What is WeSign?</span></button>
  <div class="panel">
    <p>WeSign allows you to electronically request and add legally binding signatures to any document, from new hire agreements to loans, to NDAs. WeSign is available in an intuitive web interface, a developer-friendly API, or as a Salesforce add-on.</p>
  </div>
  </div>
  
  <div class="faq-content">
  <button class="accordion"><span class="faq-title">What is a template?</span></button>
  <div class="panel">
    <p>WeSign allows you to electronically request and add legally binding signatures to any document, from new hire agreements to loans, to NDAs. WeSign is available in an intuitive web interface, a developer-friendly API, or as a Salesforce add-on.</p>
  </div>
  </div>
  
  <div class="faq-content">
  <button class="accordion"><span class="faq-title">How to request a signature</span></button>
  <div class="panel">
    <p>WeSign allows you to electronically request and add legally binding signatures to any document, from new hire agreements to loans, to NDAs. WeSign is available in an intuitive web interface, a developer-friendly API, or as a Salesforce add-on.</p>
  </div>
  </div>
  
  <div class="faq-content">
  <button class="accordion"><span class="faq-title">Where can I find API documentation?</span></button>
  <div class="panel">
    <p>WeSign allows you to electronically request and add legally binding signatures to any document, from new hire agreements to loans, to NDAs. WeSign is available in an intuitive web interface, a developer-friendly API, or as a Salesforce add-on.</p>
  </div>
  </div>
  
  <div class="faq-content">
  <button class="accordion"><span class="faq-title">How do I sign up for a free trial?</span></button>
  <div class="panel">
    <p>WeSign allows you to electronically request and add legally binding signatures to any document, from new hire agreements to loans, to NDAs. WeSign is available in an intuitive web interface, a developer-friendly API, or as a Salesforce add-on.</p>
  </div>
  </div>
  
  <div class="faq-content">
  <button class="accordion"><span class="faq-title">Is WeSign HIPAA Compliant?</span></button>
  <div class="panel">
    <p>WeSign allows you to electronically request and add legally binding signatures to any document, from new hire agreements to loans, to NDAs. WeSign is available in an intuitive web interface, a developer-friendly API, or as a Salesforce add-on.</p>
  </div>
  </div>
  
  
  
</div>  
<!-- FAQ -->    
  
<!-- Call to action --> 
<div class="call-to-action">
  <div class="container">
    <div class="call-to-action-content">
      <div class="call-left-box">
        <h3>Ready to get started?</h3>
        <p>Get in touch with our team to learn more about plan differences and find the right fit for you.</p>
      </div>
      <div class="call-right-box"><a href="#" class="btn btn-">Get in touch</a></div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>  
<!-- Call to action -->   
  
<!-- Footer -->
<div class="main-footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-top-col">
        <div class="footer-logo">
          <img src="../assets/images/footer-logo.png" alt=""/>
        </div>
        <div class="footer-menu">
          <ul>
            <li><a href="#">Contact Sales</a></li>
            <li><a href="#">Contact Support</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
        
      </div>
      <div class="footer-top-col">
        <h3>Products</h3>
        <div class="footer-menu">
          <ul>
            <li><a href="#">WeSign</a></li>
            <li><a href="#">WeSign API</a></li>
            <li><a href="#">WeSign for Salesforce</a></li>
            <li><a href="#">WeWorks</a></li>
            <li><a href="#">WeFax</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-top-col">
        <h3>Resources</h3>
        <div class="footer-menu">
          <ul>
            <li><a href="#">Support Center</a></li>
            <li><a href="#">Trust &amp; Security</a></li>
            <li><a href="#">Getting Started</a></li>
            <li><a href="#">Getting Started with API</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">API SDKs</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-top-col">
        <h3>Company</h3>
        <div class="footer-menu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="footer-copyright">
      <div class="footer-name">&copy; WeSign. 2020. All Rights Reserved</div>
      <div class="footer-translate">
        <select class="selectpicker" data-width="fit">
          <option>English</option>
          <option>Español</option>
        </select>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>  
</div>  
<!-- Footer --> 
  

<!-- <script src="../assets/lib/jquery/jquery.min.js"></script>
<script src="../assets/lib/jquery/jquery-migrate.min.js"></script>
<script src="../assets/lib/owlcarousel/owl.carousel.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>    
<script src="../assets/js/main.js"></script>     -->

<app-footer-out></app-footer-out>


<ngx-smart-modal #watchDemo identifier="watchDemo">
  <iframe [src]='safeURL' frameborder="0" allowfullscreen style="    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;"></iframe>
</ngx-smart-modal>